body,html{ 
  background-color:#125372;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
.container{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align : center;
  width: 100vw;
}

/*#everything{
  justify-content: center;
  padding-top : 10px;
  padding-bottom : 100px;
  background-color :green;
  height: 100%;
  width: 100%;
}*/

#welcome{
  padding-top:100px;
  font-weight:600;
  color:#721223;
}
#intros{
  text-align:center;
  padding: 1em;
}
#inputs *{
  border: none;
  text-transform: uppercase;
}
#searcher{
  min-height:50px;
	padding: .5em;
	font-weight: 600;
  display: block;
}
#searcher, .container--buttons{
  max-width: 600px;
  width: 90%;
}
/*#beginSearch{
}
#random{
}*/
.container--buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
  margin:20px 0;
}
.btn{
  background-color:#FE6835;
  color:white;
	padding :.5em;
  font-weight: 900;
  min-height: 50px;
  margin:5px 10px;
}

.content div{
  color:black;
  padding: 10px;
}

.article-content{
  text-align:left;
  margin: 1em;
}

.article-div{
  margin:10px;
  width: 95vw;
  max-width: 1200px;
  background-color:#BAE6F5;
}

.article-div:hover{
 background-color:#F5C9BA; 
}

.content a{
  font-weight: bold;
}

.content a:visited{
  color:grey;
}

/*.selected{
  color:#FE6835;
  font-size:400%;
  margin-right:20px;
  padding-top:0px;
  padding-bottom:0px;
  margin-top:-20px;
  margin-bottom:-20px;
}*/

.readmore{
  text-align:right;
}

#no-results{
  background-color:#BAE6F5;
  color:black; 
}

li{
  text-align:left;
}