/*Add drop-shadows to make like cards*/
body,html{ 
  background-color:#03A9F4;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color: black;
}
.container{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align : center;
  width: 100vw;
}

/*#everything{
  justify-content: center;
  padding-top : 10px;
  padding-bottom : 100px;
  background-color :green;
  height: 100%;
  width: 100%;
}*/

#welcome{
  padding-top:100px; 
}
#intros{
  color: white;
  text-align:center;
  padding: 1em;
}
#intros *{
  font-weight:200;
}
#inputs *{
  border: none;
  text-transform: uppercase;
}
#searcher{
  min-height:50px;
	padding: .5em;
	font-weight: 600;
  display: block;
}
#searcher, .container--buttons{
  max-width: 600px;
  width: 90%;
}
/*#beginSearch{
}
#random{
}*/
.container--buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
  margin:20px 0;
}
.btn{
  background-color:#536DFE;
  color:white;
	padding :.5em;
  font-weight: 900;
  min-height: 50px;
  margin:5px 10px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .29);
}

.content div{
  color:#212121;
  padding: 10px;
}

.article-content{
  text-align:left;
  /*margin: 1em;*/
}

.article-div, #no-results{
  margin:10px;
  width: 95vw;
  max-width: 1200px;
  background-color:#ffffff;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .29);
}

.content a{
  font-weight: bold;
  padding: .5em;
}
/*.content a:hover{
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .29);
  
}*/

.content a:visited{
  color:#757575;
}

/*.selected{
  color:#FE6835;
  font-size:400%;
  margin-right:20px;
  padding-top:0px;
  padding-bottom:0px;
  margin-top:-20px;
  margin-bottom:-20px;
}*/

.readmore{
  text-align:right;
}

/*#no-results{
  background-color:white;
  color:#212121;
}*/

li{
  text-align:left;
}